/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  height: 20vh;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin: 50px;
  font-size: 8rem;
  padding-bottom: 20px;
}

header div p {
  box-sizing: content-box;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  box-sizing: content-box;
  margin-top: 1000px;
}

main img {
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: beige;
  /* margin: 50px;
}

main:nth-child(2) {
  /* background-color: aqua; */
/* display: contents;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  padding-top: 9990px;
  font-size: larger;
}
main div:nth-child(2) button:nth-child(2) {
  background-color: aqua;
}
main div:nth-child() button:nth-child(1) {
  background-color: aqua;
}

footer p {
  position: relative;
  padding-top: 90px;
  color: blue;
  font-style: italic;
  font-weight: bolder;
  font-size: 2rem;
/* } */

body {
  text-align: center;
}

.images img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 15px;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

#click {
  background-color: tomato;
  color: darkgreen;
  margin-right: 10px;
}

#restart {
  background-color: darkgreen;
  color: tomato;
}
