header {
  width: 400px;
  height: 100vh;
  background-image: url(../css/resources/background.jpg);
  background-size: cover;
  background-position: center;
  position: fixed;
}

.header-blackbox {
  width: 100%;
  height: 100%;
  background-color: rgba(101, 94, 94, 0.5);
}

.header-content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

header h2 {
  border-bottom: 2px solid white;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  width: 70%;
  margin-top: 80px;
}

header nav {
  margin-bottom: 100px;
}

header nav a {
  color: white;
  display: block;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 420px;
}

main h2 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 20px;
}

main img {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  align-items: center;
}

main p {
  line-height: 1.8;
}
