/* cdn import */
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");

/* 폰트 적용 */
body {
  font-family: "Dongle", sans-serif;
  background-color: rgb(252, 247, 237);
}

section {
  z-index: 1;
  height: 100vh;
  background-color: rgb(252, 247, 237);
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: rgb(252, 247, 237);
  z-index: -10;
}

/* ======================== header ============================= */
.navbar {
  left: 0;
  top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 89%;
  padding: 2% 5%;
  margin: auto;
}
.navbar-title {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
}

/* ======================== 메뉴 ================================ */
.offcanvas-title {
  margin-bottom: 0;
  font-size: 4rem;
  position: relative;
  left: 13px;
}

.sec1 {
  background-color: rgb(252, 247, 237);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* ============   메뉴 하단 회사로고 !! ================= */
.offcanvas-header h2 {
  font-size: 3rem;
  position: relative;
  right: 150px;
  top: 840px;
}

/* ========================= 닫기 ============================== */
.offcanvas-header .btn-close {
  font-size: 2rem;
}

.btn-close:hover {
  color: white;
}

.sec1 img {
  z-index: -5;
  width: 450px;
  height: 900px;
  position: relative;
  left: 557px;
  top: 200px;
}
