.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* 중략 */

img {
  height: 100%;
  width: auto;
  max-width: 75vw;
  object-fit: contain;
}

h2 {
  font-family: Termina, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
  color: transparent;
  font-size: clamp(3rem, 10vw, 6rem);
  position: absolute;
  top: 25%;
  left: 5%;
  width: 90%;
  height: 50%;
  z-index: 99;
  display: grid;
  place-items: center;
}

body:not(.no-js) .image-wrap {
  transition: 1s ease-out;
  transition-delay: 0.2s;
  position: relative;
  width: auto;
  height: 80vh;
  overflow: hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  visibility: hidden;
}
