* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  margin: 50px 0;
  font-size: 30px;
  text-align: center;
  font-family: "Nanum Brush Script", cursive;
}

.topMenu {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  height: 40px;
}
.topMenu:after {
  content: "";
  display: block;
  clear: both;
}
.menu01 > li {
  float: left;
  width: 20%;
  line-height: 40px;
}
.menu01 span {
  font-size: 20px;
  font-weight: bold;
}

.dept01 {
  display: none;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

#nop {
  float: none;
}

.none:after {
  content: "";
  display: block;
  clear: both;
}
