body {
  width: 100vh;
  height: 100vh;
}

.content div {
  padding: 20px;
  font-size: 1.2rem;
}

.content {
  position: relative;
  right: 105px;
}
.title {
  position: relative;
  bottom: 12px;
}
.con {
  position: relative;
  bottom: 44px;
}
.Accompaying {
  position: relative;
  bottom: 131px;
  left: 336px;
}
.origi {
  position: relative;
  bottom: 190px;
  right: 381px;
}
.startDate {
  position: relative;
  top: 60px;
}
.lastDate {
  position: relative;
  left: 390px;
}
img {
  width: 80%;
  height: 90%;
  position: relative;
  top: 35px;
  display: none;
}
img :hover {
  display: ;
}
.list {
  position: relative;
  left: 50%;
  top: 10%;
  width: 900px;
  height: 350px;
  display: flex;
}
