.dropmenu li {
  float: left;
  padding: 0px;
}

.dropmenu li a:hover,
.dropmenu ul li:hover a {
  background: rgb(31, 31, 31);
  color: #ffffff;
  /* text-decoration: none; */
}

.dropmenu li ul {
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  width: 100vh;
  z-index: 200;
  top: 1em;
  left: 0;
}

.dropmenu li:hover ul {
  display: block;
}

.dropmenu li li {
  background: black;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 100vh;
}

.dropmenu li:hover li a {
  background: none;
}

.list {
  display: inline-block;
}
